<h2>The UpNorth Bulletin Board</h2>

<div class="messageList">
    <ul>
        <li class="bulletinList" ng-repeat="message in messages | orderBy: message.dateMs track by $index">
            <div>
                {{message.date}} - {{message.username}} <br /> {{message.content}}<br />
                <br />
            </div>
        </li>
    </ul>
</div>

<div class="messageInput">
    <p>What's on your mind?</p>
    <input style="width: 200px;" ng-model="messageContent" type="text"><br />
    <button class="btnBulletin" ng-click="SubmitMessage()">Submit Message</button>
</div>