<h2>The UpNorth Bulletin Board</h2>
<p>{{message}}</p>

<div class="messageList">
    <ul>
        <li ng-repeat="message in messages | orderBy: message.dateMs track by $index">
            <div>
                {{message.date}} - {{message.username}} <br /> {{message.content}}<br />
                <br />
            </div>
        </li>
    </ul>
</div>

<div class="messageInput">
    What's on your mind?
    <input ng-model="messageContent" type="text">
    <button ng-click="SubmitMessage()">Submit Message</button>
</div>