<h2>2016 Trip Calendar</h2>
<p>{{message}}</p>

<div class="superDiv">
<div class="calendarDiv">
<h2>April</h2>
<table>
    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
       <td>  </td><td>  </td><td>  </td><td>  </td><td> 1</td>
        <td>  <a href="rivers/#rice">Rice Creek</a> 2 </a></td>
        <td> 3</td>
    </tr>
    <tr>
        <td> 4</td><td> 5</td><td> 6</td><td> 7</td><td> 8</td>
        <td> <a href="rivers/#snake">Snake River</a> 9</td>
        <td>10</td>
    </tr>
    <tr>
        <td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
        <td> <a href="rivers/#cottonwood">Cottonwood</a> 16</td>
        <td>17</td>
    </tr>
    <tr>
        <td>18</td><td>19</td><td>20</td><td>21</td><td>22</td>
        <td> <a href="rivers/#kinni">Kinnickinic</a> 23</td>
        <td>24</td>
    </tr>
    <tr>
        <td>25</td><td>26</td><td>27</td><td>28</td><td>29</td>
        <td> <a href="rivers/#straight">Straight</a> 30</td>
        <td> 1</td>
    </tr>
</table>

<br />
<br />
<a id="namCable"></a>
<h2>May</h2>
<table>
    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
        <td> 2</td><td> 3</td><td> 4</td><td> 5</td><td> 6</td>
        <td> <a href="rivers/#namCable">Namekagon-Cable</a>  7</td><td> <a href="rivers/#namCable">Namekagon-Cable</a> 8</td>
    </tr>
    <tr>
        <td> 9</td><td> 10</td><td> 11</td><td> 12</td><td> 13</td>
        <td> <a href="rivers/#lowerRum">Lower Rum</a> 14</td><td>15</td>
    </tr>
    <tr>
        <td>16</td><td>17</td><td>18</td><td>19</td><td>20</td>
        <td> <a href="rivers/#miss">Mississipi</a> 21</td><td>11</td>
    </tr>
    <tr>
        <td>23</td><td>24</td><td>25</td><td>26</td><td>27</td>
        <td> <a href="/rivers/#blue">Blue earth</a> 28</td><td>29</td>
    </tr>
    <tr>
        <td>30</td><td>31</td><td>  </td><td>  </td><td>  </td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<h2>June</h2>
<table>
    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
        <td>  </td><td>  </td><td> 1</td><td> 2</td><td> 3</td>
        <td> <a href="/rivers/#zumbro">Zumbro</a> 4</td><td> <a ng-href="rivers/#zumbro">Zumbro</a>5</td>
    </tr>
    <tr>
        <td> 6</td><td> 7</td><td> 8</td><td> 9</td><td>10</td>
        <td> <a href="rivers/#upcroix">Upper St. Croix</a> 11</td><td><a href="rivers/#upcroix">Upper St. Croix</a>12 </td>
    </tr>
    <tr>
        <td>13</td><td>14</td><td>15</td><td>16</td>
        <td> <a href="rivers/#kick">Kickapoo</a> 17</td><td> <a href="rivers/#kick">Kickapoo</a> 18</td><td> <a href="rivers/#kick">Kickapoo</a> 19</td>
    </tr>
    <tr>
        <td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
        <td> <a href="rivers/#brule">Bois Brule</a> 25 </td><td> <a href="rivers/#brule">Bois Brule</a> 26</td>
    </tr>
    <tr>
        <td>27</td><td>28</td><td>29</td><td>30</td><td>  </td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<h2>July</h2>
<table>
    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
        <td>  </td><td>  </td><td>  </td><td>  </td><td> 1</td>
        <td> <a href="rivers/#crow">Crow</a> 2 </td><td> 3</td>
    </tr>
    <tr>
        <td> 4</td><td> 5</td><td> 6</td><td> 7</td><td> 8</td>
        <td> <a href="rivers/#uprum">Upper Rum</a> 9</td><td>10</td>
    </tr>
    <tr>
        <td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
        <td> <a href="rivers/#lnam">Lower Namekagon</a> 16</td><td>  <a href="rivers/#lnam">lower Namekagon</a> 17</td>
    </tr>
    <tr>
        <td>18</td><td>19</td><td>20</td><td>21</td><td>22</td>
        <td> <a href="rivers/#chip">Upper Chippewa</a> 23</td><td>24</td>
    </tr>
    <tr>
        <td>25</td><td>26</td><td>27</td><td>28</td><td>29</td>
        <td><a href="rivers/#rumcam">Rum @ Cambridge</a> 30</td><td>31</td>
    </tr>
</table>

<br />
<br />

<h2>August</h2>
<table>

    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
        <td> 1</td><td> 2</td><td> 3</td><td> 4</td><td> 5</td>
        <td> <a href="rivers/#redced">Red Cedar</a> 6</td><td> 7</td>
    </tr>
    <tr>
        <td> 8</td><td> 9</td><td>10</td><td>11</td><td>12</td>
        <td> <a href="rivers/#upnam">Upper Namekagon</a> 13</td><td> <a href="rivers/#upnam">Upper Namekagon</a> 14</td>
    </tr>
    <tr>
        <td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
        <td> <a href="rivers/#uproot">Upper Root</a> 20</td><td>21</td>
    </tr>
    <tr>
        <td>22</td><td>23</td><td>24</td><td>25</td><td>26</td>
        <td> <a href="rivers/#minnejordan">Minnesota</a> 27</td><td>28</td>
    </tr>
    <tr>
        <td>29</td><td>30</td><td>31</td><td>  </td><td>  </td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<h2>September</h2>
<table>
    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
        <td>  </td><td>  </td><td>  </td><td> 1</td><td> 2</td>
        <td> <a href="rivers/#yellow">Yellow</a> 3</td><td> 4</td>
    </tr>
    <tr>
        <td> 5</td><td> 6</td><td> 7</td><td> 8</td><td> 9</td>
        <td> <a href="rivers/#apple">Apple</a> 10</td><td>11</td>
    </tr>
    <tr>
        <td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
        <td> <a href="rivers/#lcannon">Lower Cannon</a> 17</td><td>18</td>
    </tr>
    <tr>
        <td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
        <td> <a href="rivers/#lstcroix">Lower St. Croix</a> 24</td><td>25</td>
    </tr>
    <tr>
        <td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<h2>October</h2>
<table>
    <tr>
        <th> Mon </th><th> Tues </th><th> Wed </th><th> Thu </th><th> Fri </th><th> Sat </th><th> Sun </th>
    </tr>
    <tr>
        <td>  </td><td>  </td><td>  </td><td>  </td><td>  </td>
        <td> <a ng-href="rivers/#zumbromill">Zumbro-Millville</a> 1</td><td> 2</td>
    </tr>
    <tr>
        <td> 3</td><td> 4</td><td> 5</td><td> 6</td><td> 7</td><td> 8</td><td> 9</td>
    </tr>
    <tr>
        <td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
    </tr>
    <tr>
        <td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
    </tr>
    <tr>
        <td>24</td><td>25</td><td>26</td><td>26</td><td>27</td><td>28</td><td>29</td>
    </tr>
</table>
</div>

<div class="calPics">

    <img src="../images/joeEdithUnderBridge2.jpg" width="272px" class="pic">
    <img src="../images/JeromeGearedUp2.jpg" width="272"px class="pic">
    <img src="../images/Namekagon.jpg" width="272"px class="pic">
    <img src="../images/BarbPattGlenDougStCroix.jpg" width="272"px class="pic">
    <img src="../images/KathyLotusFlowers2015.jpg" width="272"px class="pic">
    <img src="../images/LenrootLodgeCrew.jpg" width="272"px class="pic">
    <img src="../images/KellyBarbPaddleCedar.jpg" width="272"px class="pic">
    <img src="../images/MeOnKettle.JPG" width="272"px class="pic">
    <img src="../images/1stNightCampsite.JPG" width="272"px class="pic">
</div>
</div>