<h1>Calendar</h1>
<p>{{message}}</p>

<table>
    <th>April 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
       <td>  </td><td>  </td><td>  </td><td>  </td><td> 1</td>
        <td> 2 <a href="rivers/#rice">Rice Creek</a> </a></td>
        <td> 3</td>
    </tr>
    <tr>
        <td> 4</td><td> 5</td><td> 6</td><td> 7</td><td> 8</td>
        <td> 9 <a href="rivers/#snake">Snake River</a> </td>
        <td>10</td>
    </tr>
    <tr>
        <td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
        <td>16 <a href="rivers/#cottonwood">Cottonwood</a> </td>
        <td>17</td>
    </tr>
    <tr>
        <td>18</td><td>19</td><td>20</td><td>21</td><td>22</td>
        <td>23 <a href="rivers/#kinni">Kinnickinic</a> </td>
        <td>24</td>
    </tr>
    <tr>
        <td>25</td><td>26</td><td>27</td><td>28</td><td>29</td>
        <td>30 <a href="rivers/#straight">Straight</a> </td>
        <td> 1</td>
    </tr>
</table>

<br />
<br />

<table>
    <th>May 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
        <td> 2</td><td> 3</td><td> 4</td><td> 5</td><td> 6</td>
        <td> 7 <a href="rivers/#upupnam">Upper Namekagon</a> </td><td> 8 <a href="rivers/#upupnam">Weekend</a></td>
    </tr>
    <tr>
        <td> 9</td><td> 10</td><td> 11</td><td> 12</td><td> 13</td>
        <td>14 <a href="rivers/#lrum">Lower Rum</a></td><td>15</td>
    </tr>
    <tr>
        <td>16</td><td>17</td><td>18</td><td>19</td><td>20</td>
        <td>21 <a href="rivers/#miss">Mississipi</a></td><td>11</td>
    </tr>
    <tr>
        <td>23</td><td>24</td><td>25</td><td>26</td><td>27</td>
        <td>28 <a href="rivers/#blue">Blue earth</a></td><td>29</td>
    </tr>
    <tr>
        <td>30</td><td>31</td><td>  </td><td>  </td><td>  </td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<table>
    <th>June 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
        <td>  </td><td>  </td><td> 1</td><td> 2</td><td> 3</td>
        <td> 4 <a href="rivers/#zumbro">Zumbro</td><td> <a href="rivers/#zumbro">Weekend</a>5</td>
    </tr>
    <tr>
        <td> 6</td><td> 7</td><td> 8</td><td> 9</td><td>10</td>
        <td>11 <a href="rivers/#upcroix">Upper St. Croix</td><td>12 <a href="rivers/#upcroix">Weekend</a></td>
    </tr>
    <tr>
        <td>13</td><td>14</td><td>15</td><td>16</td>
        <td>17 <a href="rivers/#kick">Kickapoo</a></td><td>18 <a href="rivers/#kick">River</a></td><td>19 <a href="rivers/#krick">Weekend</a></td>
    </tr>
    <tr>
        <td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
        <td>25 <a href="rivers/#brule">Brule</a> </td><td>26 Weekend</td>
    </tr>
    <tr>
        <td>27</td><td>28</td><td>29</td><td>30</td><td>  </td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<table>
    <th>July 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
        <td>  </td><td>  </td><td>  </td><td>  </td><td> 1</td>
        <td> 2 <a href="rivers/#crow">Crow</a> </td><td> 3</td>
    </tr>
    <tr>
        <td> 4</td><td> 5</td><td> 6</td><td> 7</td><td> 8</td>
        <td> 9 <a href="rivers/#uprum">Upper Rum</a></td><td>10</td>
    </tr>
    <tr>
        <td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
        <td>16 <a href="rivers/#lnam">Lower Namekagon</a></td><td> 17 <a href="rivers/#lnam">Weekend</a></td>
    </tr>
    <tr>
        <td>18</td><td>19</td><td>20</td><td>21</td><td>22</td>
        <td>23 <a href="rivers/#chip">Upper Chippewa</a></td><td>24</td>
    </tr>
    <tr>
        <td>25</td><td>26</td><td>27</td><td>28</td><td>29</td>
        <td>30<a href="rivers/#rumcam">Rum @ Cambridge</a></td><td>31</td>
    </tr>
</table>

<br />
<br />

<table>
    <th>August 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
        <td> 1</td><td> 2</td><td> 3</td><td> 4</td><td> 5</td>
        <td> 6 <a href="rivers/#redced">Red Cedar</a> </td><td> 7</td>
    </tr>
    <tr>
        <td> 8</td><td> 9</td><td>10</td><td>11</td><td>12</td>
        <td>13 <a href="rivers/#upnam">Upper Namekagon</a></td><td>14 <a href="rivers/#upnam">Weekend</a></td>
    </tr>
    <tr>
        <td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
        <td>20 <a href="rivers/#uproot">Upper Root</a></td><td>21</td>
    </tr>
    <tr>
        <td>22</td><td>23</td><td>24</td><td>25</td><td>26</td>
        <td>27 <a href="rivers/#minnejordan">Minnesota</a></td><td>28</td>
    </tr>
    <tr>
        <td>29</td><td>30</td><td>31</td><td>  </td><td>  </td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<table>
    <th>September 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
        <td>  </td><td>  </td><td>  </td><td> 1</td><td> 2</td>
        <td> 3 <a href="rivers/#yellow">Yellow</a> </td><td> 4</td>
    </tr>
    <tr>
        <td> 5</td><td> 6</td><td> 7</td><td> 8</td><td> 9</td>
        <td>10 <a href="rivers/#apple">Apple</a> </td><td>11</td>
    </tr>
    <tr>
        <td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
        <td>17 <a href="rivers/#lcannon">Lower Cannon</a> </td><td>18</td>
    </tr>
    <tr>
        <td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
        <td>24 <a href="rivers/#lstcroix">Lower St. Croix</a></td><td>25</td>
    </tr>
    <tr>
        <td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>  </td><td>  </td>
    </tr>
</table>

<br />
<br />

<table>
    <th>October 2016</th>
    <tr>
        <td> Mon </td><td> Tues </td><td> Wed </td><td> Thu </td><td> Fri </td><td> Sat </td><td> Sun </td>
    </tr>
    <tr>
        <td>  </td><td>  </td><td>  </td><td>  </td><td>  </td>
        <td> 1 <a href="rivers/#zumbromill">Zumbro</a></td><td> 2</td>
    </tr>
    <tr>
        <td> 3</td><td> 4</td><td> 5</td><td> 6</td><td> 7</td><td> 8</td><td> 9</td>
    </tr>
    <tr>
        <td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
    </tr>
    <tr>
        <td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td>
    </tr>
    <tr>
        <td>24</td><td>25</td><td>26</td><td>26</td><td>27</td><td>28</td><td>29</td>
    </tr>
</table>



