<h2>Log In</h2>
<br />

<form ng-submit="logIn()">
    <div class="loginBox">
        <label for="username" class="title">Username:</label>
        <input ng-model="username" class="user"type="text" name="username" id="username"/>
    </div>

    <div class="loginBox">
        <label for="password" class="title">Password:</label>
        <input ng-model="password" type="text" name="text" id="password"/>
    </div>

    <div>
        <input type="submit" class="loginRegister" value="Log In"/>
    </div>
</form>

