<h2>{{loggedInAs}}'s Trips</h2>
<p>(click on trip name to view trip information)</p>

<div class="myTripList">
    <ul>
        <li ng-repeat="trip in tripsImTaking track by $index">
            <div ng-click="showTripInfo()">
                {{trip[0]}}<br />
                <br />
            </div>
        </li>
    </ul>
</div>

<div ng-hide="noTripsSelected">
    <h3>{{date}} - {{tripName}}</h3><br /><br />
    <h3>Trip Leader: {{tripLeader}} - Trip Difficulty: ({{difficulty}})</h3><br /><br />
    {{description}}<br /><br />

    <h3 class="bottomMargin">Trip Information: </h3>
        <ul>
            <li ng-repeat="attachment in attachments track by $index">
                <div class="docLinks" ng-click="openAttachment()">
                    {{attachment[0]}}<br /><br />
                </div>
            </li>
        </ul>

    (PDFs will open in a browser window when possible, other files will be sent to your downloads folder.)<br /><br />


    <h3 class="bottomMargin">>Map to Put-In:</h3> <a href="{{putInMap}}" target="_blank">{{putInMap}}</a><br /><br />

    <h3 class="bottomMargin">>Map of Shuttle Route:</h3> <a href="{{shuttleMap}}" target="_blank">{{putInMap}}</a><br /><br />

</div>