<h2>Register</h2>


<form ng-submit="register()">
    <div class="loginBox">
        <label for="username" class="title">Username</label>
        <input type="text" ng-model= "username" name="username" id="username"/>
    </div>
    <div class="loginBox">
        <label for="password" class="title">Password</label>
        <input type="text" ng-model="password" name="password" id="password"/>
    </div>
    <div>
        <input type="submit" class="loginRegister" value="Register"/>
    </div>
</form>
