<h2>Rivers and Trip Descriptions</h2>

<div class="riverList">
    <ul>
        <li ng-repeat="river in rivers | orderBy:'dateMs'">
            <div id="{{river.linkId}}">
                {{river.date}} - {{river.trip}} <br />
                Trip Leader: {{river.leader}}<br />
                Trip Rating: {{river.difficulty}}<br />
                {{river.description}}<br />
                <button class="btn" ng-click="reqInfo()">Request Information</button>
                <br /><br />
            </div>
        </li>
    </ul>
</div>



