<h2>TripLeader Page</h2><br />

<h3>{{date}}</h3><br />
<h3>{{trip}}</h3><br />
<p>{{description}}</p><br />


You can edit the trip description here:<br />
<textarea type="text" ng-model="editedTripDescription" cols='100' rows='4' placeholder='If you want, you can copy and past the description text here to start.'></textarea><br />
<button class="btnNorm" ng-click="saveTripDescriptionEdits()">Save Edits</button>
<br /><br />


<h3> Saved Trip Documents</h3>


<ul>
    <li ng-repeat="attachment in attachments track by $index">
        <div id="tlListItems">
            {{attachment[0]}}<span class="savedAs"> ... saved as ... </span>{{attachment[1]}}
        </div>
    </li>
</ul>


<h3>Add Trip Documents</h3>
<br />


<form method="POST" enctype="multipart/form-data" class="contact-form">

    <input type="file" ng-model="file" ngf-select="" ng-model="picFile" name="file" accept="" required="" class="ng-pristine ng-invalid ng-invalid-required"/>

    <input class="btnNorm" ng-click="addAttachment()" type="submit" class="btn">

</form>
<br />


<h3>Trip Information Requests</h3>


<ul>
    <li ng-repeat="attendee in attending track by $index">
        <div id="attendees">
            {{attendee.username}} ------ {{attendee.sent}}
            <button class="btn btnNorm" ng-click="sendInfo()">Send</button>
        </div>
    </li>
</ul>
<br />


<h3>Map to Put-In</h3>
<a href="{{putInMap}}" target="_blank">Your Put-In map link</a>
<div class="putinMap">
    Paste the Google Maps URL for the Put In location here:<br />
    <input type="text" ng-model="putInMapString"><br />
    <button class="btn btnNorm" ng-click="savePutInMap()">Save</button>

</div>
<br />


<h3>Map of Shuttle Route</h3>
<a href="{{shuttleMap}}" target="_blank">Your Shuttle map link</a>
<div class="shuttleMap">
    Paste the Google Maps URL for the Shuttle Route here:<br />
    <input class="" type="text" ng-model="shuttleMapString"><br />
    <button class="btn btnNorm" ng-click="saveShuttleMap()">Save</button>

</div>