<h2>TripLeader Page</h2>
<p>{{hello}}</p><br />

<h3>{{date}}</h3><br />
<h3>{{trip}}</h3><br />
{{description}}<br /><br />



<!--
<form action="#">
    <input type="file" ng-model="addMeFile">
    <button ng-click="submitFile()">Submit File</button>
</form>
-->



<h3>Add Trip Documents</h3>
<br />

<form action="/db/attach" method="POST" enctype="multipart/form-data" class="contact-form">

    <input ng-model="attachment" type="file" name="attachmentFilename"/>

    <input ng-click="addAttachment()" type="submit" class="btn">

</form>
<br />



<h3>Trip Information Requests</h3>

<ul>
    <li ng-repeat="attendee in attending track by $index">
        <div id="attendees">
            {{attendee.username}} ------ {{attendee.sent}}
            <button class="btn" ng-click="sendInfo()">Send</button>
        </div>
    </li>

</ul>
<br />

<h3>Map to Put-In</h3>
<div class="putinMap">

</div>
<br />

<h3>Map of Shuttle Route</h3>
<div class="shuttleMap">

</div>